
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*border: 1px solid black;*/
}

aside{
    display:inline-block;
    margin: 0;
}
header{
    background-color: rgb(51, 58, 58) ;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    background-color: rgb(135, 250, 244);
}

.navbar{
    padding-top: 15px;
    margin-right: 20px;
    float:right;
    list-style-type: none;
    background-color: rgb(51, 58, 58);
    font-size: 30px;
    color: rgb(135, 250, 244);
    text-decoration: underline;
}

.navbar li{
    display: inline-block;
    margin-left: 25px;
}

.navbar ul li a{
    color:rgb(135, 250, 244)
}
.navbar ul li a:active{
    color:rgb(135, 250, 244)
}
.navbar ul li a:visited{
    color:rgb(135, 250, 244)
}
.navbar ul li a:hover{
    color:rgb(135, 250, 244)
}
.banner img{
    width:100%;
}

.banner div{
    width: 100%;
}

.banner img, p{
    width: 100%;
    max-height: 100px;
}

.banner h2{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    color: #fff;
    margin: 0;
}
*/
.about{
    display:flex;
    padding: 10% ;
    width: 75%;
}

.about aside h3{
    display: inline-block;
    padding-right:75%;

}

.about section{
    float:right;
    border-left: 10px solid navy;
    border-radius: 10px;
    width:88%;
}

.about section p{
    display:flex;
}
.portfolio aside{
    display:inline-block;
    padding :3%;
}
.portfolio{
    float:right;
    }
.portfolio section{
    max-width: 60%;
    align-content: center;
    display:inline-flex;
    flex-direction: row;
    border-left: 10px solid navy;
    border-radius: 10px;
}
.portfolio section p{
    max-width: 25%;
}
.portfolio section img{
    margin-top: 20px;
    max-width: 100%; 
}

.portfolio section div:hover{
    opacity: 50;
    background-color: gray;
}

.contact {
    width: 75%;
    padding : 4.5%;
    display:inline-block;
    margin-bottom: 32px;
}

.contact aside h3 {
    padding:5%;
    
}
.contact section{
    display:inline-block;
    width: 75%;
    border-left: 10px solid navy;
    border-radius: 10px;
}
.contact section ul{
    list-style-type: none;
    display: inline-block;
    width: 100%;
}

.contact section ul li{
    display:inline-block;
    padding:8%;
    
}